<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoQosdj6jzr3mNNOR0e6SU6XNY8gEN8xI</string>
	<key>GCM_SENDER_ID</key>
	<string>1074227343663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sm.studymentor</string>
	<key>PROJECT_ID</key>
	<string>study-mentor-9999</string>
	<key>STORAGE_BUCKET</key>
	<string>study-mentor-9999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074227343663:ios:b191100c8135b04638f1da</string>
</dict>
</plist>